:root {
  --primary-color: #ffffff;
  --default-font-family: "Nunito", sans-serif;
  --default-font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--default-font-weight);
  color: var(--primary-color);
}
h1 {
  font-size: 72px;
  line-height: 98px;
}
p {
  font-size: 28px;
  font-weight: var(--default-font-weight);
}
img {
  max-width: 560px;
  max-height: 350px;
}
.hero {
  background-image: url("/images/overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding: 100px 20px;
}
.hero p {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 70px;
  text-align: center;
}
